
<div class="container-fluid container-fixed">
    <div id="freewall" class="free-wall">
		    <div class="col-sm-4" id="computers">
		        <%= image_tag('computers.png', style: "height:250px; width:100%; background-color:white;") %>
		        <div class="info" >
		            <h3>Computers</h3>
		        </div>
		    </div>

          <div class="col-sm-4" id=-"telvisions">
		        <%= image_tag('vizio.jpg', style: "height:250px; width:100%;") %>
		        <div class="info">
		            <h3>Televisions</h3>
		        </div>
		    </div>
         <div class="col-sm-4" id="printers">
		        <%= image_tag('printer.jpg', style: "height:250px; width:100%;") %>
		        <div class="info">
		            <h3>Printers</h3>
		        </div>
		    </div>

         <div class="col-sm-4" id="phones">
		        <%= image_tag('phones.jpg', style: "height:250px; width:100%;") %>
		        <div class="info">
		            <h3>Phones</h3>
		        </div>
		    </div>

         <div class="col-sm-4" id="consoles">
		        <%= image_tag('consoles.jpg', style: "height:250px; width:100%;")%>
		        <div class="info">
		            <h3>Video Games</h3>
		        </div>
		    </div>


</div>
    </div>
<hr>

<div class="container-fluid container-fixed">
    <div id="freewall freewall2" class="free-wall">
        <h2>Products</h2>
        <div id="products"></div>
    </div>
</div>


<script type="text/javascript">
			var wall = new freewall("#freewall");
			wall.reset({
				selector: '.brick',
				animate: true,
				cellW: 200,
				cellH: 'auto',
				onResize: function() {
					wall.fitWidth();
				}
			});

			wall.container.find('.brick img').load(function() {
				wall.fitWidth();
			});

    var wall = new freewall("#products");
			wall.reset({
				selector: '.brick',
				animate: true,
				cellW: 200,
				cellH: 'auto',
				onResize: function() {
					wall.fitWidth();
				}
			});

			wall.container.find('.brick img').load(function() {
				wall.fitWidth();
			});


		</script>
