
<div class="col-md-8" >
  <%= form_tag users_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], class:"search-field" %>
      <%= submit_tag "Search for Friends", :name => nil, class: "btn btn-danger" %>
    </p>
  <% end %>
</div>

<table class="table table-striped">
  <% @users.each do |user| %>
    <tr>
      <% if user.image %>
        <td ><%= link_to image_tag( user.image ), user_path(user) %></td>
      <% else %>
        <% if user.attachment.url %>
            <td ><%= link_to image_tag( user.attachment.url ), user_path(user) %></td>
        <% else %>
            <td><%= link_to image_tag('profile_default.jpg'), user_path(user) %></td>
        <% end %>
      <% end %>
      <% if user.name %>
        <td><p><%= link_to user.name, user_path(user) %></p></td>
      <% else %>
        <td><p><%= link_to user.first_name, user_path(user) %> <%= link_to user.last_name, user_path(user) %></td>
      <% end %>
      <td><p><%= user.email %></p></td>
    </tr>
  <% end %>
</table>
